/* custom.scss */

// Importar a fonte Roboto do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/*-- scss:defaults --*/

// Variáveis de fontes e cores
$font-family-sans-serif: "Roboto", sans-serif;
$presentation-heading-font: "Roboto", sans-serif;
$presentation-heading-color: #00A99D; // Verde-água da GETGAIN
$body-bg: #FFFFFF; // Fundo branco
$body-color: #333333; // Texto escuro
$link-color: #00A99D;

/*-- scss:rules --*/

// Regras de CSS personalizadas
.reveal .slides h1, .reveal .slides h2, .reveal .slides h3 {
  font-weight: 700; // Usar um peso de fonte mais forte para títulos
  color: black;
}

.reveal .slides h1, .reveal .slides h3  {
  color: #00A99D;
}

.reveal .slide-logo {
  height: 80px !important;
  max-height: 80px !important;
}

.reveal pre {
    width: 98%;
    margin: auto;
    font-size: 0.7em;
    line-height: 1.1;
}
.reveal code {
    max-width: none;
    overflow-x: auto;
}
.reveal table {
    font-size: 0.75em;
    margin: auto;
    width: 95%;
}